* {
  padding: 0;
  margin: 0;
}
abbr {
  text-decoration: underline dotted;
}

body {
  text-align: center;

  background-attachment: scroll, scroll, fixed;
  background-image: url(/Assessts/bamboo.png);
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  font-family: sans-serif;
  font-size: 70%;
}

@font-face {
  font-family: verdemoderna;
  src: url(/Assessts/verdemoderna.woff) format("woff");
}

header {
  /* padding: 20px;
  background: #2d6360 50% url(/Assessts/huntington.jpg) no repeat;
  background-attachment: fixed fixed fixed scroll;
  background-image: url(/Assessts/contours.png), url(/Assessts/noise.png),
    url(/Assessts/gridlines.png), url(/Assessts/huntington.jpg);
  background-position: 0 0, 0 0 -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center; */
}

UL {
  list-style: none;
}
ul > li {
  color: black;
  font-size: 1rem;
  padding-bottom: 5%;
  padding-top: 1%;
}
p {
  display: block;
  font-size: 1.2rem;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

.site-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(30, 100px);
}
header {
  display: block;
}
h1::before {
  display: inline-block;
  position: relative;
  content: "";
  height: 80px;
  width: 80px;
  background: url(/Assessts/enso.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.6;
}
.menu {
  display: grid;
  justify-content: center;
  align-items: center;
}
.menuGrid {
  background-color: #607476;
  opacity: 50%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  width: 374px;
  height: 50px;
  grid-column: 2/4;
  grid-row: 1;
  padding-bottom: 10%;
}
.menuGrid:hover {
  opacity: 60%;
  background-color: #607476;
  border: solid #607476 1px;
}
span {
  color: #607476;
  font-size: larger;
}

a:visited {
  color: inherit;
}
a:hover {
  color: #1a5952;
}
hr {
  color: gray;
  background-color: #134347;
}
.grid1 {
  font-size: 2rem;
  padding-top: 8%;
  color: #fff;
  opacity: 75%;
  background: #2d6360 url(/Assessts/huntington.jpg);
  grid-column: 1/3;
  grid-row: 1/4;
  width: 1000px;
}
.grid2 {
  background-color: #2d6360;
  background: url(/Assessts/huntington.jpg);
  background-repeat: no-repeat;

  grid-column: 3/5;
  grid-row: 1/4;
  font-size: 1.5rem;
  opacity: 85%;
  padding-top: 30%;
}
.grid3 {
  background-color: white;
  grid-column: 1/3;
  grid-row: 4/12;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 10%;
}
.grid4 {
  display: block;
  background-color: lightgrey;
  color: #325050;
  grid-column: 3/5;
  grid-row: 4/12;
}
.grid5 {
  background-attachment: scroll, scroll, fixed;
  background-color: rgba(138, 188, 159, 0.5);
  background-image: url(/Assessts/bamboo.png);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  grid-column: 1/3;
  grid-row: 12/17;
  opacity: 55%;
  font-size: 2rem;
}
#benefit {
  margin-top: 4%;
  margin-bottom: 2%;
}
h4 {
  font-size: 2rem;
  margin-top: 3%;
}
.topP {
  margin-top: 3%;
}
.bottomP {
  margin-bottom: 2%;
}
.grid6 {
  background-attachment: scroll, scroll, fixed;
  background-color: rgba(138, 188, 159, 0.5);
  background-image: url(/Assessts/contours-opaque.png),
    url(/Assessts/gridlines-opaque.png), url(/Assessts/bamboo.png);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;

  opacity: 85%;
  grid-column: 3/5;
  grid-row: 12/17;
}
.grid6 ul > li {
  margin-top: 5%;
  font-size: 2rem;
}

.grid7 {
  background-color: #fff;
  grid-column: 1/3;
  grid-row: 17/24;
}

.grid8 {
  background-color: rgba(61, 63, 62, 0.179);
  grid-column: 3/5;
  grid-row: 17/26;
}

.grid9 {
  background: #3e5d67 url(/Assessts/koi.jpg);
  background-position: c;
  grid-column: 1/5;
  grid-row: 26/29;
}

.grid10 {
  background-color: #134347;
  grid-column: 1/5;
  grid-row: 29/31;
}
footer > ul > li > a {
  font-family: verdemoderna;
  font-size: 3rem;
  border: solid white 2px;
  border-radius: 50%;
}
/* media query stacking content */
@media only screen and (min-width: 1115px) and (max-width: 1200px) {
    body{
        background-image: none;
    }
  header {
    float: center;
    font-size: 2rem;
  }
  .grid1 {
    font-size: 2rem;
    padding-top: 8%;
    color: #fff;
    opacity: 75%;
    background: #2d6360 url(/Assessts/huntington.jpg);
    width: auto;
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .grid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: none;
    background-repeat: no-repeat;
    width:50%;
    height: auto;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 1.5rem;
    opacity: 85%;
    margin-top: 12%;
    margin-left: auto;
  }
  .menuBox{
    display: flex;
    background-color: #2d6360;
    
  }

  .grid3 {
    grid-column: 1/5;
    grid-row: 5/11;
  }

  .grid4 {
    grid-column: 1/5;
    grid-row: 26/29;
  }
  .grid5 {
    grid-column: 1/5;
    grid-row: 12/17;
    opacity: 100%;
  }

  .grid6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    grid-column: 1/5;
    grid-row: 23/27;
  }
  .grid7 {
    grid-column: 1/5;
    grid-row: 17/23;
  }
  .grid8 {
    display: none;
  }
  .grid9 {
    grid-column: 1/5;
    grid-row: 23/25;
  }
  .grid10 {
    grid-column: 1/5;
    grid-row: 25/26;
  }

  ul > li > a {
    margin-top: 5%;
    font-size: 2rem;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and(min-width:760px)  and (max-width: 1114px) {
    body{
        background-image: none;
    }
  header {
    float: center;
    font-size: 1.2rem;
  }
  .grid1 {
    font-size: 2rem;
    padding-top: 8%;
    color: #fff;
    opacity: 75%;
    background: #2d6360 url(/Assessts/huntington.jpg);
    width: auto;
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .grid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: none;
    background-repeat: no-repeat;
    width:50%;
    height: auto;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 1.5rem;
    opacity: 85%;
    margin-top: 12%;
    margin-left: auto;
  }
  .menuBox{
    display: flex;
    background-color: #2d6360;
    
  }

  .grid3 {
    grid-column: 1/5;
    grid-row: 5/11;
  }

  .grid4 {
    grid-column: 1/5;
    grid-row: 26/29;
  }
  .grid5 {
    grid-column: 1/5;
    grid-row: 12/17;
    opacity: 100%;
  }

  .grid6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    grid-column: 1/5;
    grid-row: 23/27;
  }
  .grid7 {
    grid-column: 1/5;
    grid-row: 17/23;
  }
  .grid8 {
    display: none;
  }
  .grid9 {
    grid-column: 1/5;
    grid-row: 23/25;
  }
  .grid10 {
    grid-column: 1/5;
    grid-row: 25/26;
  }

  ul > li > a {
    margin-top: 5%;
    font-size: 2rem;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and(min-width:759px) {
    body{
        text-align: left;
    }

    header {
        float: center;
        font-size: 1rem;
      }
      .grid1 {
        font-size: 2rem;
        padding-top: 8%;
        color: #fff;
        opacity: 75%;
        background: #2d6360 url(/Assessts/huntington.jpg);
        width: auto;
        grid-column: 1/5;
        grid-row: 1/4;
      }
    
      .grid2 {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        background: none;
        background-repeat: no-repeat;
        width:50%;
        height: auto;
        grid-column: 1/4;
        grid-row: 1;
        font-size: 1.5rem;
        opacity: 85%;
        margin-top: 12%;
        margin-left: auto;
      }
      .menuBox{
        display: flex;
        background-color: #2d6360;
        
      }
    
      .grid3 {
        grid-column: 1/5;
        grid-row: 5/11;
      }
    
      .grid4 {
        grid-column: 1/5;
        grid-row: 26/29;
      }
      .grid5 {
        grid-column: 1/5;
        grid-row: 12/17;
        opacity: 100%;
      }
    
      .grid6 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
        grid-column: 1/5;
        grid-row: 23/27;
      }
      .grid7 {
        grid-column: 1/5;
        grid-row: 17/23;
      }
      .grid8 {
        display: none;
      }
      .grid9 {
        grid-column: 1/5;
        grid-row: 23/25;
      }
      .grid10 {
        grid-column: 1/5;
        grid-row: 25/26;
      }
    
}


    
  
  
